<!-- HomeLayout.razor -->
@using MudBlazor
@inject IDialogService DialogService

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />
@inherits LayoutComponentBase
@inject NavigationManager NavManager

<div class="home-page">
    <MudPaper Height="100vh" Width="100%" Square="true" Style="background: #8E2DE2;  
background: -webkit-linear-gradient(to bottom, #4A00E0, #8E2DE2);  
background: linear-gradient(to bottom, #4A00E0, #8E2DE2); 
padding-top: 30px;">
        <MudContainer MaxWidth="MaxWidth.Small" >
            <h1 style="color: #FFF; ">Welcome PC NET Computers </h1>
            <MudImage Fluid="true" Src="homeimage.jpg" Alt="Computer" Class="rounded-lg" Width="400" Height="600" Style="max-width: 100%; height: auto; margin-top: 50px; margin-left: 70px;" />
            <NavLink class="nav-link" href="/login">
                <MudButton Disabled="@_processing" OnClick="ProcessSomething" Variant="Variant.Filled" Color="Color.Primary" Style="max-width: 100%; height: auto; margin-top: 50px; margin-left: 200px;">
                    @if (_processing)
                    {
                        <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
                        <MudText Class="ms-2">Processing</MudText>
                    }
                    else
                    {
                        <MudText>Get Started</MudText>
                    }
                </MudButton>
            </NavLink>


        </MudContainer>
    </MudPaper>

    
    <Home />

</div>

@code {
    private bool _processing = false;

    async Task ProcessSomething()
    {
        _processing = true;
        await Task.Delay(2000);
        _processing = false;
    }
}