.container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
}

.desktop1 {
    width: 100%;
    height: 1024px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    background-color: rgba(255, 255, 255, 1);
}

.splash-screen {
    top: -77px;
    left: 0px;
    width: 1440px;
    height: 1147px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    background-color: rgba(162, 89, 255, 1);
}

.bg {
    top: 0px;
    left: 146px;
    width: 1031.9998779296875px;
    height: 975.7977905273438px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
}

.ellipse8 {
    top: 0px;
    left: 498.0648498535156px;
    width: 624px;
    height: 751px;
    position: absolute;
}

.ellipse10 {
    top: 107px;
    left: 415.9999084472656px;
    width: 549px;
    height: 481px;
    position: absolute;
}

.ellipse12 {
    top: 82px;
    left: 482.9999084472656px;
    width: 549px;
    height: 481px;
    position: absolute;
}

.backdrop {
    top: 521px;
    left: 28px;
    width: 1384px;
    height: 584px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
}

.backdropbase {
    top: 0px;
    left: 0px;
    width: 1384px;
    height: 584px;
    position: absolute;
}

.text {
    top: 297px;
    left: 377.4565124511719px;
    color: var(--dl-color-default-textsecondary);
    width: 631px;
    height: auto;
    position: absolute;
    font-size: 17px;
    font-style: Regular;
    text-align: center;
    font-family: Tahoma;
    font-weight: 400;
    line-height: 150%;
    font-stretch: normal;
    text-decoration: none;
}

.text2 {
    top: 192px;
    left: 416.28985595703125px;
    color: var(--dl-color-default-textprimary);
    width: 550px;
    height: auto;
    position: absolute;
    font-size: 34px;
    font-style: Bold;
    text-align: center;
    font-family: Tahoma;
    font-weight: 700;
    line-height: 41px;
    font-stretch: normal;
    text-decoration: none;
}

.icon {
    top: 64px;
    left: 607.0797119140625px;
    width: 175.59420776367188px;
    height: 104px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
}

.base {
    top: 0px;
    left: 0px;
    width: 176px;
    height: 104px;
    position: absolute;
}

.box {
    top: 32px;
    left: 54.02911376953125px;
    width: 68px;
    height: 40px;
    position: absolute;
}

.button-primary {
    gap: 16px;
    top: 401px;
    left: 515px;
    width: 364px;
    height: 56px;
    display: flex;
    padding: 16px 131px;
    position: absolute;
    align-items: flex-start;
    border-radius: 8px;
    background-color: var(--dl-color-default-primarybutton);
}

.text4 {
    top: 16px;
    left: 55.09242630004883px;
    color: rgba(255, 255, 255, 1);
    width: 254px;
    height: auto;
    position: absolute;
    font-size: 34px;
    font-style: Regular;
    text-align: center;
    font-family: Tahoma;
    font-weight: 400;
    line-height: 56px;
    font-stretch: normal;
    text-decoration: none;
}


